.about{
    display: flex;
    background-image: url('../../assets/model-1209985_1920\ \(1\).jpg');
    background-size: cover;
    background-position: center; /* Center the image */
  background-repeat: no-repeat;
}