.contact{
    display: flex;
    background-image: url('../../assets/model-1209985_1920\ \(1\).jpg');
    background-size: cover;
    background-position: center; /* Center the image */
  background-repeat: no-repeat;
  .contact__container{
    position: absolute;
    top: 13rem;
    left: 40%;
    // background-color: red;
    border: 1px solid var(--primary-color);
    padding: .6rem;
    h1{
        font-family: 'Encode Sans', sans-serif;
        color: var(--primary-color);
        &:hover{
            // border-bottom: 2px solid var(--primary-color);
            &:after { transform: scaleX(1); }
            cursor: pointer;
        }
        &:after {
            display:block;
            content: '';
            border-bottom: solid 3px white;  
            cursor: pointer;
            transform: scaleX(0);  
            transition: transform 650ms ease-in-out;
            width: 11rem;
            margin: auto;
            align-self: center;
          }
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        label{
            position: relative;
            left: -.1rem;
            text-align: left;
            margin-bottom: -.4rem;
            font-family: 'Encode Sans', sans-serif;
            color: white;
        }
        input{
            background: none;
            border-radius: 5px;
            border: 1px solid var(--primary-color);
            width: 25rem;
            height: 3rem;
            padding-left: 1rem;
            color: white;
            &:focus{
                outline: none;
                // color: white;
            }
            &::placeholder{
                color: white;
            }
            &:focus::placeholder{
                color: transparent;
            }
        }
        textarea{
            resize: none;
            height: 8rem;
            border: 1px solid var(--primary-color);
            background: none;
            padding-top: 1rem;
            padding-left: 1rem;
            color: white;
            &:focus{
                outline: none;
            }
        }
        button{
            background-color:var(--primary-color);
            // margin-left: -25rem;
            margin-top: 1rem;
            padding: 1rem;
            width: 12rem;
            font-family: 'Encode Sans', sans-serif;
            font-size: 1rem;
            font-weight: 600;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            &:hover{
               filter: brightness(10px);
               background-color: white;
               animation: ease-in 5ms;
            }
         }
    }


  }
}