.float-nav{
   flex: 2;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    .icons-div{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-top: 3rem; 
        justify-content: flex-end;
         .icon{
            width: max-width;
            height: 2rem;
            // border: 1px solid white;
            padding: 1rem;
            margin-bottom: 1rem;
            cursor: pointer;
           
         }
         .message-icon{
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 1px solid white;
            padding: 1rem;
            position: relative;
            z-index: 2;
            
            
         }
    }
   
}