nav{
    width: 94.4%;
    height: 2rem;
    // background-color: blue;
    color: white;
    display: flex;
    padding: 2.6rem;
    justify-content: space-between;
    font-family: 'Encode Sans', sans-serif;
    align-items: center;
    .logo{
        margin-left: 7.5rem;
        font-family: 'Encode Sans', sans-serif;
        font-weight: 600;
        color: white;
        margin-right: auto;
        transform: scale(1.2);
    }
       .links{
        text-decoration: none;
        margin-left: auto;
        justify-content: space-between;
        
        .nav-link{
           padding-left: 5rem;
           margin-left: 5rem;
           font-family:'Encode Sans', sans-serif ;
           text-decoration: none;
           color:var(--primary-color) ;
        }
       } 
        
    
}


